logicapp/M-200-ForwardingAlertsSet.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "MCB-AzureAlertToServiceBus",
            "metadata": {
                "description": "The name for the Azure alert forwarded logic app."
            }
        },
        "serviceBusConnectionString": {
            "type": "securestring",
            "metadata": {
                "description": "The MCB Service Bus namespace send only connection string."
            }
        },
        "serviceBusConnectionName": {
            "type": "string",
            "defaultValue": "MCB-ServiceBusConnection",
            "metadata": {
                "description": "The name for the MCB service bus connection."
            }
        },
        "serviceBusQueueName": {
            "type": "string",
            "defaultValue": "azure-alert-queue",
            "metadata": {
                "description": "The name of the queue to add a azure alert message to."
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Specifies the location for the logic app."
            }
        },
        "logicAppState": {
            "type": "string",
            "defaultValue": "Enabled",
            "allowedValues": [
                "Enabled",
                "Disabled"
            ]
        },
        "retentionPolicyEnabled": {
            "type": "bool",
            "defaultValue": false
        },
        "logsEnabled": {
            "type": "bool",
            "defaultValue": true
        },
        "retentionDays": {
            "type": "int",
            "defaultValue": 0
        },
        "workspaceName": {
            "type": "string",
            "defaultValue": "mcloud-monitor-workspace"
        },
        "workspaceResourceGroupName": {
            "type": "string",
            "defaultValue": "[resourceGroup().name]"
        },
        "tags": {
            "type": "object",
            "defaultValue": {
                "sourceFrom": "mcloud-support",
                "solution": "collect-alert-message"
            }
        },
        "actionGroupName": {
            "type": "string",
            "defaultValue": "ForwardToMCB-ActionGroup",
            "metadata": {
                "description": "Unique name within the resource group for the Action group."
            }
        },
        "actionGroupShortName": {
            "type": "string",
            "defaultValue": "ForwardToMCB",
            "metadata": {
                "description": "Short name up to 12 characters for the Action group."
            }
        },
        "receivedLogicAppName": {
            "type": "string",
            "defaultValue": "MCB-RoutedIntoServiceBus",
            "metadata": {
                "description": "The name for the received mcloud monitor message logic app."
            }
        },
        "receivedServiceBusQueueName": {
            "type": "string",
            "defaultValue": "mon-alert-queue",
            "metadata": {
                "description": "The name of the queue to add a mcloud monitor message to."
            }
        }
    },
    "variables": {
        "vWorkspaceResourceId": "[resourceId(subscription().subscriptionId, parameters('workspaceResourceGroupName'), 'Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]",
        "singleQuote": "'",
        "subscriptionId": "[subscription().subscriptionId]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "location": "[parameters('location')]",
            "name": "[parameters('serviceBusConnectionName')]",
            "tags": "[parameters('tags')]",
            "properties": {
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'servicebus')]"
                },
                "displayName": "[parameters('serviceBusConnectionName')]",
                "parameterValues": {
                    "connectionString": "[parameters('serviceBusConnectionString')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('tags')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]"
            ],
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "alertContext": {
                                                    "properties": {
                                                        "AffectedConfigurationItems": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "AlertType": {
                                                            "type": "string"
                                                        },
                                                        "Dimensions": {
                                                            "items": {
                                                                "properties": {
                                                                    "Name": {
                                                                        "type": "string"
                                                                    },
                                                                    "Value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Name",
                                                                    "Value"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "IncludeSearchResults": {
                                                            "type": "boolean"
                                                        },
                                                        "IncludedSearchResults": {
                                                            "type": "string"
                                                        },
                                                        "LinkToFilteredSearchResultsAPI": {
                                                            "type": "string"
                                                        },
                                                        "LinkToFilteredSearchResultsUI": {
                                                            "type": "string"
                                                        },
                                                        "LinkToSearchResults": {
                                                            "type": "string"
                                                        },
                                                        "LinkToSearchResultsAPI": {
                                                            "type": "string"
                                                        },
                                                        "Operator": {
                                                            "type": "string"
                                                        },
                                                        "ResultCount": {
                                                            "type": "integer"
                                                        },
                                                        "SearchIntervalDurationMin": {
                                                            "type": "string"
                                                        },
                                                        "SearchIntervalEndtimeUtc": {
                                                            "type": "string"
                                                        },
                                                        "SearchIntervalInMinutes": {
                                                            "type": "string"
                                                        },
                                                        "SearchIntervalStartTimeUtc": {
                                                            "type": "string"
                                                        },
                                                        "SearchQuery": {
                                                            "type": "string"
                                                        },
                                                        "SearchResults": {
                                                            "properties": {
                                                                "dataSources": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "region": {
                                                                                "type": "string"
                                                                            },
                                                                            "resourceId": {
                                                                                "type": "string"
                                                                            },
                                                                            "tables": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "resourceId",
                                                                            "region",
                                                                            "tables"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "statistics": {
                                                                    "properties": {
                                                                        "query": {
                                                                            "properties": {
                                                                                "datasetStatistics": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "tableRowCount": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "tableSize": {
                                                                                                "type": "integer"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "tableRowCount",
                                                                                            "tableSize"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "executionTime": {
                                                                                    "type": "number"
                                                                                },
                                                                                "inputDatasetStatistics": {
                                                                                    "properties": {
                                                                                        "extents": {
                                                                                            "properties": {
                                                                                                "scanned": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "scannedMaxDatetime": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "scannedMinDatetime": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "total": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "rows": {
                                                                                            "properties": {
                                                                                                "scanned": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "total": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "rowstores": {
                                                                                            "properties": {
                                                                                                "scannedRows": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "scannedValuesSize": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "shards": {
                                                                                            "properties": {
                                                                                                "queriesGeneric": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "queriesSpecialized": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "resourceUsage": {
                                                                                    "properties": {
                                                                                        "cache": {
                                                                                            "properties": {
                                                                                                "disk": {
                                                                                                    "properties": {
                                                                                                        "hits": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "misses": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "total": {
                                                                                                            "type": "integer"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "memory": {
                                                                                                    "properties": {
                                                                                                        "hits": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "misses": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "total": {
                                                                                                            "type": "integer"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "shards": {
                                                                                                    "properties": {
                                                                                                        "bypassbytes": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "cold": {
                                                                                                            "properties": {
                                                                                                                "hitbytes": {
                                                                                                                    "type": "integer"
                                                                                                                },
                                                                                                                "missbytes": {
                                                                                                                    "type": "integer"
                                                                                                                },
                                                                                                                "retrievebytes": {
                                                                                                                    "type": "integer"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        },
                                                                                                        "hot": {
                                                                                                            "properties": {
                                                                                                                "hitbytes": {
                                                                                                                    "type": "integer"
                                                                                                                },
                                                                                                                "missbytes": {
                                                                                                                    "type": "integer"
                                                                                                                },
                                                                                                                "retrievebytes": {
                                                                                                                    "type": "integer"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "cpu": {
                                                                                            "properties": {
                                                                                                "kernel": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "totalCpu": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "user": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "memory": {
                                                                                            "properties": {
                                                                                                "peakPerNode": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "tables": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "columns": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "name",
                                                                                        "type"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "rows": {
                                                                                "items": {
                                                                                    "type": "array"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "columns",
                                                                            "rows"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "SeverityDescription": {
                                                            "type": "string"
                                                        },
                                                        "Threshold": {
                                                            "type": "integer"
                                                        },
                                                        "WorkspaceId": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "essentials": {
                                                    "properties": {
                                                        "alertContextVersion": {
                                                            "type": "string"
                                                        },
                                                        "alertId": {
                                                            "type": "string"
                                                        },
                                                        "alertRule": {
                                                            "type": "string"
                                                        },
                                                        "alertTargetIDs": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "essentialsVersion": {
                                                            "type": "string"
                                                        },
                                                        "firedDateTime": {
                                                            "type": "string"
                                                        },
                                                        "monitorCondition": {
                                                            "type": "string"
                                                        },
                                                        "monitoringService": {
                                                            "type": "string"
                                                        },
                                                        "originAlertId": {
                                                            "type": "string"
                                                        },
                                                        "severity": {
                                                            "type": "string"
                                                        },
                                                        "signalType": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "schemaId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "Send_message": {
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "ContentData": "@{base64(concat('{','\n','\"essentials\": ',triggerBody()?['data']?['essentials'],',','\n','\"alertContext\": ',triggerBody()?['data']?['alertContext'],'\n','}'))}",
                                    "ContentType": "applications/json",
                                    "SessionId": "@triggerBody()?['data']?['essentials']?['originAlertId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "[concat('/@{encodeURIComponent(', variables('singleQuote'), parameters('serviceBusQueueName'), variables('singleQuote'), ')}/messages')]"
                            },
                            "runAfter": {}

                        },
                        "Response": {
                            "inputs": {
                                "body": "Done",
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "runAfter": {
                                "Send_message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "servicebus": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'servicebus')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]"
                            }
                        }
                    }
                },
                "state": "[parameters('logicAppState')]"
            },
            "resources": [
                {
                    "apiVersion": "2016-09-01",
                    "type": "providers/diagnosticSettings",
                    "name": "microsoft.insights/service",
                    "properties": {
                        // "storageAccountId": null,
                        // "serviceBusRuleId": null,
                        "workspaceId": "[variables('vWorkspaceResourceId')]",
                        // "eventHubAuthorizationRuleId": null,
                        // "eventHubName": null,
                        "metrics": [
                            {
                                "timeGrain": "AllMetrics",
                                "category": "AllMetrics",
                                "enabled": "[parameters('logsEnabled')]",
                                "retentionPolicy": {
                                    "enabled": "[parameters('retentionPolicyEnabled')]",
                                    "days": "[parameters('retentionDays')]"
                                }
                            }
                        ],
                        "logs": [
                            {
                                "category": "WorkflowRuntime",
                                "enabled": "[parameters('logsEnabled')]",
                                "retentionPolicy": {
                                    "enabled": "[parameters('retentionPolicyEnabled')]",
                                    "days": "[parameters('retentionDays')]"
                                }
                            }
                        ]
                    },
                    "identity": null,
                    "dependsOn": [
                        "[concat('Microsoft.Logic/workflows/', parameters('logicAppName'))]"
                    ]
                }
            ]
        },
        {
            "type": "Microsoft.Insights/actionGroups",
            "apiVersion": "2019-06-01",
            "name": "[parameters('actionGroupName')]",
            "location": "global",
            "tags": "[parameters('tags')]",
            "dependsOn": [
                "[concat('Microsoft.Logic/workflows/', parameters('logicAppName'))]"
            ],
            "properties": {
                "groupShortName": "[parameters('actionGroupShortName')]",
                "enabled": true,
                "logicAppReceivers": [
                    {
                        "name": "[parameters('logicAppName')]",
                        "resourceId": "[resourceId(subscription().subscriptionId, parameters('workspaceResourceGroupName'), 'Microsoft.Logic/workflows', parameters('logicAppName'))]",
                        "callbackUrl": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('logicAppName')), '/triggers/manual'), '2016-06-01').value]",
                        "useCommonAlertSchema": true
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('receivedLogicAppName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('tags')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]"
            ],
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "subscriptionId": {
                            "defaultValue": "YOUR-SUBSCRIPTION-ID",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "dashboardId": {
                                            "type": "integer"
                                        },
                                        "evalMatches": {
                                            "items": {
                                                "properties": {
                                                    "metric": {
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "properties": {},
                                                        "type": "object"
                                                    },
                                                    "value": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "value",
                                                    "metric",
                                                    "tags"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "imageUrl": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "orgId": {
                                            "type": "integer"
                                        },
                                        "panelId": {
                                            "type": "integer"
                                        },
                                        "ruleId": {
                                            "type": "integer"
                                        },
                                        "ruleName": {
                                            "type": "string"
                                        },
                                        "ruleUrl": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "tags": {
                                            "properties": {},
                                            "type": "object"
                                        },
                                        "title": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "dashboardId": {
                                            "type": "integer"
                                        },
                                        "evalMatches": {
                                            "items": {
                                                "properties": {
                                                    "metric": {
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "properties": {},
                                                        "type": "object"
                                                    },
                                                    "value": {
                                                        "type": "number"
                                                    }
                                                },
                                                "required": [
                                                    "value",
                                                    "metric",
                                                    "tags"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "orgId": {
                                            "type": "integer"
                                        },
                                        "panelId": {
                                            "type": "integer"
                                        },
                                        "ruleId": {
                                            "type": "integer"
                                        },
                                        "ruleName": {
                                            "type": "string"
                                        },
                                        "ruleUrl": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "tags": {
                                            "properties": {},
                                            "type": "object"
                                        },
                                        "title": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {},
                            "type": "ParseJson"
                        },
                        "Send_message": {
                            "inputs": {
                                "body": {
                                    "ContentData": "@{base64(concat('{','\n','\"subscriptionId\": \"',parameters('subscriptionId'),'\",','\n','\"alertContext\":','\n',body('Parse_JSON'),'\n','}'))}",
                                    "ContentType": "application/json",
                                    "SessionId": "@{utcNow()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "[concat('/@{encodeURIComponent(', variables('singleQuote'), parameters('receivedServiceBusQueueName'), variables('singleQuote'), ')}/messages')]"
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Response_2": {
                            "inputs": {
                                "body": "Done",
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "runAfter": {
                                "Send_message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "servicebus": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'servicebus')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]"
                            }
                        }
                    },
                    "subscriptionId": {
                        "value": "[variables('subscriptionId')]"
                    }
                },
                "state": "[parameters('logicAppState')]"
            },
            "resources": [
                {
                    "apiVersion": "2016-09-01",
                    "type": "providers/diagnosticSettings",
                    "name": "microsoft.insights/service",
                    "properties": {
                        // "storageAccountId": null,
                        // "serviceBusRuleId": null,
                        "workspaceId": "[variables('vWorkspaceResourceId')]",
                        // "eventHubAuthorizationRuleId": null,
                        // "eventHubName": null,
                        "metrics": [
                            {
                                "timeGrain": "AllMetrics",
                                "category": "AllMetrics",
                                "enabled": "[parameters('logsEnabled')]",
                                "retentionPolicy": {
                                    "enabled": "[parameters('retentionPolicyEnabled')]",
                                    "days": "[parameters('retentionDays')]"
                                }
                            }
                        ],
                        "logs": [
                            {
                                "category": "WorkflowRuntime",
                                "enabled": "[parameters('logsEnabled')]",
                                "retentionPolicy": {
                                    "enabled": "[parameters('retentionPolicyEnabled')]",
                                    "days": "[parameters('retentionDays')]"
                                }
                            }
                        ]
                    },
                    "identity": null,
                    "dependsOn": [
                        "[concat('Microsoft.Logic/workflows/', parameters('receivedLogicAppName'))]"
                    ]
                }
            ]
        }
    ],
    "outputs": {
        "actionGroupId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Insights/actionGroups',parameters('actionGroupName'))]"
        },
        "logicAppUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('receivedLogicAppName')), '/triggers/manual'), '2016-06-01').value]"
        }
    }
}