ReceivedMonAlertLogicApp-template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "ReceivedMonAlertToServiceBus-rmatsb",
            "metadata": {
                "description": "The name for the logic app."
            }
        },
        "serviceBusConnectionString": {
            "type": "securestring",
            "metadata": {
                "description": "The Azure Service Bus namespace connection string."
            }
        },
        "serviceBusConnectionName": {
            "type": "string",
            "defaultValue": "conn-mcloud-service-bus-rmatsb",
            "metadata": {
                "description": "The name for the Service Bus connection."
            }
        },
        "serviceBusQueueName": {
            "type": "string",
            "defaultValue": "mon-alert-queue",
            "metadata": {
                "description": "The name of the queue to add a message to."
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Specifies the location for the logic app."
            }
        },
        "logicAppState": {
            "type": "string",
            "defaultValue": "Enabled",
            "allowedValues": [
                "Enabled",
                "Disabled"
            ]
        },
        "retentionPolicyEnabled": {
            "type": "bool",
            "defaultValue": false
        },
        "logsEnabled": {
            "type": "bool",
            "defaultValue": true
        },
        "retentionDays": {
            "type": "int",
            "defaultValue": 0
        },
        "omsWorkspaceName": {
            "type": "string"
        },
        "omsWorkspaceResourceGroupName": {
            "type": "string",
            "defaultValue": "[resourceGroup().name]"
        },
        "tags": {
            "type": "object",
            "defaultValue": {}
        }
    },
    "variables": {
        "omsWorkspaceResourceId": "[resourceId(subscription().subscriptionId, parameters('omsWorkspaceResourceGroupName'), 'Microsoft.OperationalInsights/workspaces', parameters('omsWorkspaceName'))]",
        "singleQuote": "'",
        "subscriptionId": "[subscription().subscriptionId]"

    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "location": "[parameters('location')]",
            "name": "[parameters('serviceBusConnectionName')]",
            "tags": "[parameters('tags')]",
            "properties": {
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'servicebus')]"
                },
                "displayName": "[parameters('serviceBusConnectionName')]",
                "parameterValues": {
                    "connectionString": "[parameters('serviceBusConnectionString')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "tags": "[parameters('tags')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]"
            ],
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "subscriptionId": {
                            "defaultValue": "YOUR-SUBSCRIPTION-ID",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "dashboardId": {
                                            "type": "integer"
                                        },
                                        "evalMatches": {
                                            "items": {
                                                "properties": {
                                                    "metric": {
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "properties": {},
                                                        "type": "object"
                                                    },
                                                    "value": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "value",
                                                    "metric",
                                                    "tags"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "imageUrl": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "orgId": {
                                            "type": "integer"
                                        },
                                        "panelId": {
                                            "type": "integer"
                                        },
                                        "ruleId": {
                                            "type": "integer"
                                        },
                                        "ruleName": {
                                            "type": "string"
                                        },
                                        "ruleUrl": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "tags": {
                                            "properties": {},
                                            "type": "object"
                                        },
                                        "title": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "dashboardId": {
                                            "type": "integer"
                                        },
                                        "evalMatches": {
                                            "items": {
                                                "properties": {
                                                    "metric": {
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "properties": {},
                                                        "type": "object"
                                                    },
                                                    "value": {
                                                        "type": "number"
                                                    }
                                                },
                                                "required": [
                                                    "value",
                                                    "metric",
                                                    "tags"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "orgId": {
                                            "type": "integer"
                                        },
                                        "panelId": {
                                            "type": "integer"
                                        },
                                        "ruleId": {
                                            "type": "integer"
                                        },
                                        "ruleName": {
                                            "type": "string"
                                        },
                                        "ruleUrl": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "tags": {
                                            "properties": {},
                                            "type": "object"
                                        },
                                        "title": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {},
                            "type": "ParseJson"
                        },
                        "Send_message": {
                            "inputs": {
                                "body": {
                                    "ContentData": "@{base64(concat('{','\n','\"subscriptionId\": \"',parameters('subscriptionId'),'\",','\n','\"alertContext\":','\n',body('Parse_JSON'),'\n','}'))}",
                                    "ContentType": "application/json",
                                    "SessionId": "@{utcNow()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "[concat('/@{encodeURIComponent(', variables('singleQuote'), parameters('serviceBusQueueName'), variables('singleQuote'), ')}/messages')]"
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Response_2": {
                            "inputs": {
                                "body": "Done",
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "runAfter": {
                                "Send_message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "servicebus": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'servicebus')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]"
                            }
                        }
                    },
                    "subscriptionId": {
                        "value": "[variables('subscriptionId')]"
                    }
                },
                "state": "[parameters('logicAppState')]"
            },
            "resources": [
                {
                    "apiVersion": "2016-09-01",
                    "type": "providers/diagnosticSettings",
                    "name": "microsoft.insights/service",
                    "properties": {
                        // "storageAccountId": null,
                        // "serviceBusRuleId": null,
                        "workspaceId": "[variables('omsWorkspaceResourceId')]",
                        // "eventHubAuthorizationRuleId": null,
                        // "eventHubName": null,
                        "metrics": [
                            {
                                "timeGrain": "AllMetrics",
                                "category": "AllMetrics",
                                "enabled": "[parameters('logsEnabled')]",
                                "retentionPolicy": {
                                    "enabled": "[parameters('retentionPolicyEnabled')]",
                                    "days": "[parameters('retentionDays')]"
                                }
                            }
                        ],
                        "logs": [
                            {
                                "category": "WorkflowRuntime",
                                "enabled": "[parameters('logsEnabled')]",
                                "retentionPolicy": {
                                    "enabled": "[parameters('retentionPolicyEnabled')]",
                                    "days": "[parameters('retentionDays')]"
                                }
                            }
                        ]
                    },
                    "identity": null,
                    "dependsOn": [
                        "[concat('Microsoft.Logic/workflows/', parameters('logicAppName'))]"
                    ]
                }
            ]
        }
    ]
}